<nav>
  <ul class="nav nav-tabs">
      
    <!-- <li routerLinkActive="active"> <a class="nav-link"
      routerLink="reg" > Register </a>
  </li> -->

  <li routerLinkActive="active"> <a class="nav-link"
    routerLink="login" >Login </a>
</li>

<li routerLinkActive="active"> <a class="nav-link"
    routerLink="addpizza" >Add Pizza </a>
</li>

<li routerLinkActive="active"> <a class="nav-link"
  routerLink="view" >View Pizza </a>
</li>

<li routerLinkActive="active"> <a class="nav-link"
  routerLink="uview" >UserView Pizza </a>
</li>
<li routerLinkActive="active">
  <a class="nav-link" routerLink="cart">Cart</a>
</li>
<li routerLinkActive="active">
  <a class="nav-link" routerLink="logout">LogOut</a>
</li>





</ul>
</nav>

<router-outlet></router-outlet>